/* google font added  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

/* global section  */
body{
    background-color: #F3F1FF;
}
/* navigation section  */
.menu-bar{
    height: 94px;
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
/* logo section */
.logo{
    display: flex;
    margin-left: 285px;
    margin-top: 26px;
    margin-bottom: 17px;
}
/* logo heading */
.logo-heading{
    height: 36px;
    width: 54px;
    line-height: 36px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 15.58px;
}
/* Logo-image Added */
.logo-img{
    height: 51px;
    width: 40.42px;
}
/* buttons section added */
.buttons{
    display: flex;
    align-items: center;
    margin-right: 289px;  
}
/* button added  */
.button{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    size: 16px;
    padding-left: 36px;
}
/* profile added */
.profile{
    padding-left: 36px;
}
/* top menu done  */

/* main section started */

/* top section started */

/* top player section started */
.top-part{
    background-color: white;
    margin-top: 33px;
    margin-left: 285px;
    margin-right: 285px;
    border-radius: 5px;
    
}

/* player title added */
.player-title{
    color: #562EFF;
    padding-top: 33px;
    margin-left: 33px;
    margin-right: 712px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
/* top player list grid done  */
.top-player{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* image and name flex done  */
.player{
    display: flex;
    padding-left: 30px;
    padding-top: 40px;
}
/* player pic done  */
.player-pic{
    height: 56px;
    width: 56px;
}
/* player name done  */
.player-name .course-text{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
}
/* top player section done  */


/* hr line added  */
.line{
    border: 1px solid #D1D1D1;
    margin: 30px 0px; 
}

/* top blogs section started */
/* blog title done  */
.blog-title{
    color: #562EFF;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    padding-top: 33px;
    margin-left: 33px;
    margin-right: 712px;
}   
/* blogs grided  */
.top-blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* blog and image flex done  */
.blogs{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 26px;
}
/* blog name done  */
.blog-name{
    padding-right: 20px;
    margin-bottom: 100px;
}
/* blog pic done  */
.blog-pic{
    height: 117px;
    width: 177px;
    padding-right: 16px;
    margin-bottom: 30px;
}
/* author  done  */
.author{
    size: 16px;
    font-size: .7em;
}
/* by design done  */
.by{
    color: #9F9F9F;
}
/* author name done  */
.author-name{
    color: #562EFF;
}

/* first section blogs done  */

/* -------top section done -----------
------------------------------------- */

/* courses section started */
.middle-part{
    background-color: white;
    margin-top: 33px;
    margin-left: 285px;
    margin-right: 285px;
    padding: 30px 10px;
    border-radius: 5px;
}
/* course section done  */
.course-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* course title given  */
.course-title{
    color: #562EFF;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    padding-top: 33px;
    margin-left: 33px;
    margin-right: 712px;
} 
/* courses flexed    */
.courses{
    display: flex;
    flex-direction: column;
    height: 249.79px;
    width: 232.42px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    box-shadow: 2px 2px 8px lightgrey;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 26px;
}
/* course pic designed  */
.course-pic{
    height: 104px;
    width: 224px;
}
/* course author given  */
.course-text .author{
    color: #ED6B4F;

}
/* details flex done  */
.details{
    display: flex;
}
 /* middle section done  */
 /* leader board web done  */